<ol class="build-list">
  <%= for build <- @builds do %>
    <li>
      <%= link build.id, to: "/#{build.id}", class: "build-id" %>
      <span class="build-status"><%= build.status %></span>
    </li>
  <% end %>
</ol>
