<ol class="build-list">
  <%= for build <- @builds do %>
    <li>
      <a class="build-id" href="/"><%= build.id %></a>
      <span class="build-status"><%= build.status %></span>
    </li>
  <% end %>
</ol>
